# Entorno virtual
env/
venv/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de Django
#*.sqlite3
# db.sqlite3 (temporalmente compartida para desarrollo)
*.log
local_settings.py
**/migrations/*
!**/migrations/__init__.py

# Archivos de sistema
.DS_Store

# IDEs
.vscode/
.idea/

#Containers (Comment this out to stop synchronizing this)
#.devcontainer/

#Test
.pytest_cache/