# Entorno virtual
env/
venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de Django
#*.sqlite3
# db.sqlite3 (temporalmente compartida para desarrollo)

# Archivos de sistema
.DS_Store

# IDEs
.vscode/
.idea/
