# Entorno virtual
env/
venv/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de Django
#*.sqlite3
# db.sqlite3 (temporalmente compartida para desarrollo)
*.log
local_settings.py
**/migrations/*
!**/migrations/__init__.py

**/xyz/*
!**/xyz/123

# Archivos de sistema
.DS_Store

# IDEs
.vscode/
.idea/